In [5]:
import numpy as np
#import matplotlib.pyplot as plt
import pandas as pd

In [6]:
#path = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
path ='../SqlToPandas/titanic/train.csv'

In [65]:
dataset = pd.read_csv(path)
dataset.head()
#dataset.columns

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [66]:
dataset['Sex'] = dataset['Sex'].astype('category')
dataset['Cabin'] = dataset['Cabin'].astype('category')
dataset['Ticket'] = dataset['Ticket'].astype('category')
dataset['Embarked'] = dataset['Embarked'].astype('category')
dataset['Name'] = dataset['Name'].astype('category')

dataset['Sex'] = dataset['Sex'].cat.codes
dataset['Cabin'] = dataset['Cabin'].cat.codes
dataset['Ticket'] = dataset['Ticket'].cat.codes
dataset['Embarked'] = dataset['Embarked'].cat.codes
dataset['Name'] = dataset['Name'].cat.codes

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,523,7.2500,-1,2
1,2,1,1,190,0,38.0,1,0,596,71.2833,81,0
2,3,1,3,353,0,26.0,0,0,669,7.9250,-1,2
3,4,1,1,272,0,35.0,1,0,49,53.1000,55,2
4,5,0,3,15,1,35.0,0,0,472,8.0500,-1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,548,1,27.0,0,0,101,13.0000,-1,2
887,888,1,1,303,0,19.0,0,0,14,30.0000,30,2
888,889,0,3,413,0,NaN,1,2,675,23.4500,-1,2
889,890,1,1,81,1,26.0,0,0,8,30.0000,60,0
890,891,0,3,220,1,32.0,0,0,466,7.7500,-1,1

In [81]:
dataset['Age'] = dataset['Age'].fillna(-1)

In [82]:
dataset.columns[dataset.isnull().any()].tolist()

[]

In [83]:
x = dataset.loc[:, ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']].values
y = dataset.iloc[:, 1].values

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30)

In [84]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 50)
classifier.fit(x, y)

RandomForestClassifier(n_estimators=50)

In [85]:
y_pred = classifier.predict(x_test)

ValueError: could not convert string to float: 'Carter, Mr. William Ernest'

In [10]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)
result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

Confusion Matrix:
[[19  0  0]
 [ 0 12  1]
 [ 0  1 12]]
Classification Report:
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        19
Iris-versicolor       0.92      0.92      0.92        13
 Iris-virginica       0.92      0.92      0.92        13

       accuracy                           0.96        45
      macro avg       0.95      0.95      0.95        45
   weighted avg       0.96      0.96      0.96        45

Accuracy: 0.9555555555555556